<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450997421021-32pp5rola31ljsvcp0dau0t39taigk6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450997421021-32pp5rola31ljsvcp0dau0t39taigk6d</string>
	<key>API_KEY</key>
	<string>AIzaSyCNjsReZaVAzeroeboYM4maE2fGhBdPyrw</string>
	<key>GCM_SENDER_ID</key>
	<string>450997421021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbSample</string>
	<key>PROJECT_ID</key>
	<string>dbsample-10390</string>
	<key>STORAGE_BUCKET</key>
	<string>dbsample-10390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450997421021:ios:8da4d4c12c56ae7e306c34</string>
</dict>
</plist>